@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); 
 
* {
    margin: 4px;
    padding: 5px;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    background-color: #9B48B7;
    text-align: center;
    border: #333 solid 2px;
 }

body{
    margin: 0;
    padding: 0;
    background-color: #ab50c9;
    font-size: 2rem;
}

h1{
    font-family: 'Nunito', sans-serif;
    font-size: 5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

h2{
    font-size: 1,45rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

p{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

button{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    background-color: #9B48B7;
    border: none;
    cursor: pointer;
}